body{
	background-color:#FFFAF7;
}
h3{
	font-size:30px;

}

.main{
	width:500px;
	margin:10px 10px 10px 10px;
	background-color:#FFFAEB;
	padding:10px 10px 10px 10px;
		border-width: 2px;
	border-style:solid;
}
.title{
	font-size: 20px
}
.time{
	font-size:10px;
}
#menu{
	
	padding:5px 5px 5px 5px;
}
#content: {

}